<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gravestone</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,94}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>Piggy</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{79,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,51}}</string>
                <key>sourceSize</key>
                <string>{79,51}</string>
            </dict>
            <key>PlayButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>PlayButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>Rock</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>Shrine</key>
            <dict>
                <key>frame</key>
                <string>{{114,192},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>SignInButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>SignInButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{200,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,45}</string>
            </dict>
            <key>SignOutButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{60,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,21}}</string>
                <key>sourceSize</key>
                <string>{60,21}</string>
            </dict>
            <key>SignOutButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{64,380},{60,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,21}}</string>
                <key>sourceSize</key>
                <string>{60,21}</string>
            </dict>
            <key>TreeTrunk</key>
            <dict>
                <key>frame</key>
                <string>{{126,380},{119,49}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{119,49}}</string>
                <key>sourceSize</key>
                <string>{119,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainTextureAtlas-iPhone.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:248d95095d195e3b0577db353982e5d6$</string>
            <key>textureFileName</key>
            <string>MainTextureAtlas-iPhone.png</string>
        </dict>
    </dict>
</plist>
