<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gravestone</key>
            <dict>
                <key>frame</key>
                <string>{{224,556},{209,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,187}}</string>
                <key>sourceSize</key>
                <string>{209,187}</string>
            </dict>
            <key>Piggy</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{156,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,101}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>PlayButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{400,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,90}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>PlayButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{400,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,90}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>Rock</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{220,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,120}}</string>
                <key>sourceSize</key>
                <string>{220,120}</string>
            </dict>
            <key>Shrine</key>
            <dict>
                <key>frame</key>
                <string>{{253,370},{220,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,184}}</string>
                <key>sourceSize</key>
                <string>{220,184}</string>
            </dict>
            <key>SignInButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{400,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,90}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>SignInButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,90}}</string>
                <key>sourceSize</key>
                <string>{400,90}</string>
            </dict>
            <key>SignOutButton</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,42}}</string>
                <key>sourceSize</key>
                <string>{120,42}</string>
            </dict>
            <key>SignOutButtonActive</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,42}}</string>
                <key>sourceSize</key>
                <string>{120,42}</string>
            </dict>
            <key>TreeTrunk</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{249,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,103}}</string>
                <key>sourceSize</key>
                <string>{249,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MainTextureAtlas-iPhone-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f71361ebaa1d5f44dc84ef1c5cbf999$</string>
            <key>textureFileName</key>
            <string>MainTextureAtlas-iPhone-hd.png</string>
        </dict>
    </dict>
</plist>
